.calendar {
  &__time-slot {
    position: relative;
    height: 59px;
    margin: 2px 5px;
    border-bottom: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
      background-color: grey;
    }
  }
}
