.event {
  position: absolute;
  width: 100%;
  background-color: #5a9bd8;
  z-index: 1;
  padding: 2px 0 2px 10px;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;

  &__title {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
  }

  &__time {
    font-size: 10px;
    color: #444444;
    overflow: hidden;
  }

  &__description {
    margin-top: 2px;
    padding: 4px;
    font-size: 12px;
    color: #333333;
    border: 1px solid #dddddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

  &:hover {
    font-weight: bold;
    border: 2px solid #34495e;
    background-color: #28b485;
    overflow: visible;
    z-index: 3;

    .event__description {
      display: block;
      width: 200%;
      background-color: #1b263b;
      color: #ecf0f1;
      white-space: normal;
    }
  }
}
