.event {
  position: absolute;
  width: 100%;
  margin-left: 3px;
  background-color: #6495ed;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    border: 2px solid #072a6b;
    background-color: #1a5cd6;
    transform: scaleX(1.2) scaleY(1.2);
    z-index: 2;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
