.event {
  position: absolute;
  width: 100%;
  background-color: #6495ed;
  z-index: 1;
  padding: 2px 0 2px 10px;
  color: #f0f4ff;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &__title {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
  }

  &__time {
    font-size: 10px;
    color: #333;
    overflow: hidden;
  }

  &__description {
    margin-top: 2px;
    padding: 4px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
    border: 2px solid #072a6b;
    background-color: #1a5cd6;
    transform: scaleX(1.2) scaleY(1.2);
    overflow: visible;
    z-index: 3;

    .event__description {
      display: block;
      width: 100%;
      background-color: #6495ed;
    }
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
