.calendar {
  &__time-scale {
    margin-right: 10px;
  }
}

.time-slot {
  height: 61px;
  width: 48px;
  padding-top: 4px;
  text-align: center;
  border-top: 1px solid black;

  &__time {
    font-size: 12px;
    opacity: 0.7;
  }
}
